*,
*::before,
*::after {
  box-sizing: border-box;
}


body {
  background: #ffffff;
  font-family: 'Space Grotesk', sans-serif;
  color: hsl(270, 3%, 87%);
  font-size: 18px;
  margin: 0;
}

img {
  width: 80%;
}


.card-img-wrapper {
  width: 100%;
  padding: 1.5em 0.8em 0;
  background-image: url(/images/bg-main-mobile.png);
  background-repeat: no-repeat;
  background-size: 100% 85%;
}

.front,
.back {
  position: relative;
}

.front {
  margin-top: -18%;
}

.circle {
  display: flex;
  align-items: center;
  position: absolute;
  left: 5%;
  top: 7%;
  gap: .5em;
}

.large-circle {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: hsl(270, 3%, 87%);

}

.small-circle {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  border: 1px solid hsl(270, 3%, 87%);
}

.card-img-name,
.card-img-number,
.card-img-exp,
.card-img-cvc {
  position: absolute;
  z-index: 1;
  margin: 0;
  font-size: .6rem;
}


.card-img-number {
  bottom: 32%;
  left: 5%;
  font-size: 1.3rem;
}

.card-img-name {
  bottom: 15%;
  left: 5%;
  text-transform: uppercase;
}

.card-img-exp {
  bottom: 15%;
  right: 25%;

}

.back {
  display: flex;
  justify-content: flex-end;
}

.back img {
  /* box-shadow: 0 0px 10px 1px hsl(270, 3%, 87%); */
  border-radius: 5px;
}

.card-img-cvc {
  top: 45%;
  right: 10%;
}

.form-wrapper {
  margin-top: 1.3em;
  padding: 0 2em;
}

label {
  font-size: 0.7rem;
  letter-spacing: .1em;
  color: hsl(278, 68%, 11%);
  text-transform: uppercase;
}

.form-wrapper input,
.form-wrapper button {
  border: none;
  outline: none;
}

.form-wrapper input {
  padding: 0.57em 1em;
  color: hsl(278, 68%, 11%);
  font-size: .9em;
  font-family: inherit;
  border-radius: 8px;
  border: 1px solid hsl(270, 3%, 87%);
  outline: none;
  width: 100%;
  margin-top: .2em;
}

input::placeholder {
  color: hsl(270, 3%, 87%);
}

.inputs-wrapper {
  margin-bottom: 0.8em;
}

.inline-inputs {
  display: flex;
  gap: .5em;
  align-items: flex-start;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0
}

input[type=number] {
  -moz-appearance: textfield;
}

input:focus {
  border: 1.8px solid hsl(278, 94%, 30%);
  border-radius: 8px;
}

small.error {
  color: red;
  font-size: .7rem;
}

.exp-date-inputs {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-areas:
    "label label"
    "input2 input1"
    "error error";
  gap: .5em;
  width: 50%;
}

.exp-date-inputs label {
  grid-area: label;
  margin-top: 0.5em;
  margin-bottom: -0.5em;
}

.exp-date-inputs input:nth-child(3) {
  grid-area: input1;
}

.exp-date-inputs input:nth-child(2) {
  grid-area: input2;
}

.exp-date-inputs small {
  grid-area: error;
  margin-top: -0.4em;
}

.cvc {
  width: 50%;
}

button {
  width: 100%;
  padding: .8em;
  font-family: inherit;
  border-radius: 8px;
  color: #ffffff;
  background-color: hsl(278, 68%, 11%);
  margin: 1em 0;
  cursor: pointer;
  font-size: 1rem;
  outline: none;
  border: none;
}

.success-wrapper {
  padding: 2em 1em;
  text-align: center;
}

.success-wrapper img {
  width: 20%;
}

.success-wrapper h1 {
  color: hsl(278, 68%, 11%);
  text-transform: uppercase;
  font-size: 1.3rem;
  letter-spacing: .1em;
}

.success-wrapper p {
  font-size: 1rem;
}

input.error {
  border: 1.8px solid red;
  border-radius: 8px;
}

@media (min-width: 1024px) {
  body {
    font-size: 22px;
  }

  .container {
    display: flex;
  }

  .card-img-wrapper {
    width: 30%;
    background-size: 100% 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1em;
  }

  .exp-date-inputs label {
    grid-area: label;
    margin-top: 0.78em;
    margin-bottom: -0.5em;
  }

  .form-wrapper,
  .success {
    width: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }

  form {
    width: 50%;
  }

  .front {
    order: 1;
    z-index: 1;
    margin-left: 30%;
    margin-right: -30%;
  }

  .back {
    order: 2;
    margin-left: 50%;
    margin-right: -50%;
  }

  .card-img-exp {
    right: 5%;
  }

  img {
    width: 100%;
  }

  .card-img-name,
  .card-img-exp,
  .card-img-cvc {
    font-size: 0.8rem;
  }

  .card-img-number {
    font-size: 1.7rem;
  }

}